
    html, body{
        margin: 0;
        padding: 0;
        overflow-x:hidden ;
    }
 
    body {
        background-color: white
    }
   
    header{
        background-color: forestgreen;
        padding: 30px;
        background-size: cover;
        color: blanchedalmond;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        border-bottom: solid black;
  

    }

    footer{
        background-color: forestgreen;
        padding: 30px;
        background-size: cover;
        color: blanchedalmond;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        border-bottom: solid black;
    }
    div {
        padding: 1%;

    }

    .copy{
        background-color: aquamarine;
        
    }

    #all-tags{
        font-style: italic;
    }
    .hide{
        display: none;
    }


     .block{
       
        width: 25%;
        height: 25%;
        border: 1px solid;
        background-size: cover; 
        background-color: forestgreen;
        color:blanchedalmond;
        font-size: 2rem; 
        text-align: center;
       
    
    }  

    
    .delete{
        width: 7%;
        height: 15%;
        color:blanchedalmond;
        background-size: cover;
        background-color:hotpink;
        font-size: 1rem;
        text-align: center;
    }


    .star{
        /* color:darkmagenta; */
        text-decoration: underline;
       
    }

    .star_button{
        width: 7%;
        height: 15%;
        color:black;
        background-size: cover;
        background-color:yellow;
        font-size: 1rem;
        text-align: center;
    }

  
  

     
    textarea{
        display: block;
        background-color: blanchedalmond;
        width: 100%;
        min-height: 300px;
        box-sizing: border-box;
        font-size: 1rem;
        color: blue;
        resize: both;
        align-content: center;
        margin: 5px;
    }
    
    textarea:hover{
        background-color: bisque;
    }

    .highlight{
        background-color: pink;
        text-decoration: underline;
    }
    
    
    a:hover{
        color:blueviolet
    }
    
    a{
        font-size: 1.5rem
    }
    
    li{
        font-size: 1.5rem;
    }

@media all and (max-width: 500px){

    body {
        background-color: white
    }
   

     .block{
        display: block;
        align-content: center;
        width: 100%;
        height: 25%;
        border: none;
        background-color: forestgreen;
        color:blanchedalmond;
        font-size: 2rem; 
        text-align: center;
        margin-top: 15%;
        /* margin: 20%; */
        
    }

    .block:hover{
        background-color: blue;
    }
     
    textarea{
        background-color: blanchedalmond;
        width: 100%;
        min-height: 300px;
        box-sizing: border-box;
        font-size: 0.5rem;
        resize: both;
        align-content: center;
    }

    .highlight{
        background-color: pink;
        text-decoration: underline;
    }
    
    
    a:hover{
        color:blueviolet;
        text-decoration: underline;
    }
    
    a{
        font-size: 1.5rem
    }
    
    li{
        font-size: 1.5rem;
    }
    
    
}
 




 
